@import '../../../styles/mixins';

.emptyMain {
display: flex;
flex-direction: column;
align-items: center
}

.emptyTitle {
  @include arbutus-font-normal ;

  margin-top: 15rem;
  font-size: 3.2rem;
  line-height: 5rem;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000;
}

.emptyButton {
  @include arbutus-font-normal ;

  background: #373F41;
  border-radius: 4px;
  padding: 1.5rem 4.5rem 1.5rem 4.8rem;
  margin: 6.5rem auto 10.5rem;
  display: block;
  font-size: 18px;
  line-height: 23px;
  color: #FFF;

  &:hover {
    transition: all 0.25s ease-in;
    box-shadow: 7px 5px 5px dimgray;
  }
}