@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  @include content-container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imageBox {
  text-align: center;
  border: dimgrey solid 0.1rem;
  border-radius: 0.5rem;
}

.image {
  width: 100%;
}

.infoBox {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.infoName {
  color: dimgrey;
  @include arbutus-font-light;

  margin-top: 1.5rem;
  font-size: 2rem;
  padding-right: 2rem;
}

.title {
  @include arbutus-font-semibold;
  @include sum-size;

  line-height: 3rem !important;
}

.priceInfo {
  @include arbutus-font-semibold;
  @include sum-size;

  line-height: 3rem !important;
}

.colorInfo {
  @include arbutus-font-semibold;
  @include sum-size;

  line-height: 3rem !important;
}

.btnsBlock {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.btn {
  @include btn-size;

  margin-bottom: 0.2rem;
  color: red;
}

.btnColorText {
  color: red;
  background: rgb(255 255 255 / 70%);
}

.btnHeart {
  background-color: antiquewhite;
}

.load {
  @include content-container;
}

.loader {
  justify-content: center;
  align-items: center;
  height: 70vh;
  opacity: 0.7;
}

@media only screen and (max-width: $bp-small) {
  .infoBox {
    flex-direction: column;
  }
  .btn {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
  }
 }